## Assignment 2 Pandas

**Instructions:** <br>
a. write your answer after `# your answer here`. Do not delete any code that is in the cell, as the code facilitates checking your answers. If you happen to delete any code that prevents expected outputs, you may lose points. <br>
b. when you finish the assignment, make sure to use `Kernel` -> `Restart and Run All` to restart the kernel and rerun the entire notebook to generate the desired outputs, before submitting your assignment. <br>
c. upload your .ipynb file. <br>
<br>
Each subquestion is worth 5 points, and the total score for assignment 2 is 75 points.

**Policy:** <br>
Assignment submitted late will receive a late penalty (30% point reduction), regardless of the reason. Empty assignment or no submission receives 0 point.


### Question 1

Use the code to simulate data and answer the questions below.

In [1]:
import pandas as pd
import numpy as np
np.random.seed(1234)
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(100, high=301, size=100, dtype='l'))
s4 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

 1. (1) Create a DataFrame `df` by concatenating the three Series s1, s2, s3 as three columns (df: 100 by 3), and then rename column names to be 'a', 'b', 'c'. Keep the first 70 rows of `df`(df: 70 by 3).<br>
 Create another DataFrame `df2` by joinning the two Series s1, s4 by column (df2: 100 by 2), and the column names should be 'A' and 'B'. Then, keep the last 60 rows of `df2`(df2: 60 by 2).

In [3]:
# Your answer here
df=pd.concat([s1,s2,s3],axis=1)
df.columns=['a','b','c']
df=df[:70]

df2=pd.concat([s1,s4],axis=1)
df2.columns=['A','B']
df2=df2[-60:]

# for grading
print(df.columns,'\n'); print(df2.columns,'\n')
print(df.index,'\n'); print(df2.index,'\n')
df2.head()

Index(['a', 'b', 'c'], dtype='object')

Index(['A', 'B'], dtype='object')

RangeIndex(start=0, stop=70, step=1)

RangeIndex(start=40, stop=100, step=1)

    A      B
40  4  21028
41  4  10615
42  1  21722
43  2  19723
44  4  28816

1. (2) Merge `df` and `df2` by the index values into `df3`. Note that we will only keep the intersections of the two dataframes (`df3`: 30 by 5). Additionally, drop the column in `df3` that is repetitive (`df3`: 30 by 4).

In [3]:
#pd.merge & pd.concat (LT7)

In [4]:
# Your answer here
# ????????
df3=pd.concat([df,df2],axis=1)
df3=df3.dropna()
df3=df3.T.drop_duplicates().T
df3

# for grading
print(df3.shape)
df3.head()

(30, 4)

      a    b      c        B
40  4.0  3.0  135.0  21028.0
41  4.0  3.0  270.0  10615.0
42  1.0  1.0  248.0  21722.0
43  2.0  2.0  126.0  19723.0
44  4.0  2.0  189.0  28816.0

1. (3) Create a one column DataFrame with the values of the three Series s1, s2, s3 and assign it to 'df4' (300 by 1).

In [5]:
# Your answer here
df4=pd.DataFrame(pd.concat([s1,s2,s3]))
# for grading
print(type(df4)) #check the type of the df4
print(df4.shape) #check the shape
print(df4.tail()) #check last columns: note the index

<class 'pandas.core.frame.DataFrame'>
(300, 1)
      0
95  202
96  108
97  141
98  261
99  169

1. (4) Reindex the DataFrame so that the index is from 0 to 299

In [6]:
# Your answer here
df4.index=np.arange(0,300)

# for grading
df4

       0
0      4
1      4
2      3
3      2
4      1
..   ...
295  202
296  108
297  141
298  261
299  169

[300 rows x 1 columns]

### Question 2

First, download the Olympic medal dataset (medals.csv). Use the following code to load the dataset.

The columns give information on: <br>
summer Olympic games--number of games and summer medals;  <br>
winter Olympic games--number of games and winter medals;  <br>
total Olympic games--number of games and total medals.

In [7]:
import pandas as pd
df = pd.read_csv('medals.csv', index_col=0, skiprows=0)

2. (1) Show the first 6 rows in the DataFrame.

In [8]:
# Your answer here
df[:6]

,Summer,Gold,Silver,Bronze,Total,Winter,Gold.1,Silver.1,Bronze.1,Total.1,Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS

2. (2) Provide the shape of the DataFrame.

In [9]:
# Your answer here
print(df.shape,"\n","No. of rows",df.shape[0],"\n","No. of columns",df.shape[1])

(147, 16)
 No. of rows 147
 No. of columns 16

2. (3) Rename the column name 'Combined total' to 'Combined.Total'.

In [10]:
# Your answer here
df=df.rename(columns={'Combined total': 'Combined.Total'})

#for grading
df.columns[14]

'Combined.Total'

2. (4) Change all column names to lowercase and remove all spaces ' '.

In [11]:
# Your answer here
columns_name=[i.lower().replace(' ','') for i in df.columns]
df.columns=columns_name

# for grading
df.columns

Index(['summer', 'gold', 'silver', 'bronze', 'total', 'winter', 'gold.1',
       'silver.1', 'bronze.1', 'total.1', 'games', 'gold.2', 'silver.2',
       'bronze.2', 'combined.total', 'id'],
      dtype='object')

2. (5) Which country has won the most gold medals in summer games? Provide the country name and the number of gold medals. Remove Independent Olympic Participants and the Mixed team. <br>
Expected output: a tuple consisting of the country name and the number of gold medals.

In [12]:
def most_gold():
    # Your answer here
    goldNumber=df['gold'][:-1].max()
    
    r=df.loc[df['gold']==goldNumber, ['gold']]
    countryName=r.index[0]
    return countryName,goldNumber

most_gold()

('United States', 976)

2. (6) Which country had the largest difference between their summer and winter medal counts, relative to the total medal count? <br> Note: only include countries that have won at least 15 medals in both summer and winter. <br>
$$\frac{Summer_{Metal} - Winter_{Metal}}{Total_{Metal}}$$
Instruction: create a new copy of the DataFrame, first calculate the value as a new column named 'percent', and then **return the row information of the country as a pandas Series**, i.e.:<br> <br>
summer x<br>
gold x<br>
silver x<br>
...<br>
percent x<br>
Name: x, dtype: object

In [13]:
def max_diff():
    # Your answer here
    df_copy=df[(df.total>=15)&(df['total.1'] >=15)][:-1]
    df_copy['percent']=abs((df_copy['total']-df_copy['total.1'])/df_copy['combined.total'])
    x=df_copy[df_copy['percent']==df_copy['percent'].max()].index[0]
    return df_copy.loc[x]

max_diff()

summer                  27
gold                   236
silver                 272
bronze                 272
total                  780
winter                  22
gold.1                  10
silver.1                 4
bronze.1                12
total.1                 26
games                   49
gold.2                 246
silver.2               276
bronze.2               284
combined.total         806
id                     GBR
percent           0.935484
Name: Great Britain, dtype: object

2. (7) Create a new column 'country_cat' that denotes the first letter of the country name, i.e. "A" for "Afghanistan", and count the number of countries in each category. Make sure to present the results alphabetically.

In [14]:
def country_first_letter():
    # Your answer here
    
    df_copy1=df.copy()[:-1]
    df_copy1['country_cat'] = df_copy1.index.astype(str).str[0] #convert index to string and collect the first one
    List_cat=[i[0] for i in df_copy1.index] #creat a list to save all first letter of countries name
    List = []
    [List.append(x) for x in List_cat if x not in List] #del repeated
    List.sort(key=str.lower)#sort the letter alphabetically
    List_no=[]              #creat a list and append the no. according to List element
    for i in List:
        x=len(df_copy1[df_copy1['country_cat']==i]) 
        List_no.append(x)
    No_of_cat=list(zip(List,List_no)) #combine it together
    return  No_of_cat
    
country_first_letter()

[('A', 8),
 ('B', 12),
 ('C', 12),
 ('D', 3),
 ('E', 6),
 ('F', 2),
 ('G', 9),
 ('H', 3),
 ('I', 10),
 ('J', 2),
 ('K', 4),
 ('L', 5),
 ('M', 10),
 ('N', 8),
 ('P', 8),
 ('Q', 1),
 ('R', 3),
 ('S', 17),
 ('T', 8),
 ('U', 8),
 ('V', 3),
 ('W', 1),
 ('Y', 1),
 ('Z', 2)]

### Question 3
Using the following code to read the 'census.csv' dataset, which contains population data for counties and states in US from 2010 to 2015. Counties are political and geographic subdivisions of states in US. <br>

In [15]:
import pandas as pd
census_df = pd.read_csv('census.csv')
census_df[:6]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

3. (1) Which state has the largest number of counties? <br>
Note: look at the data carefully and consider the sum level carefully. <br>
Return a tuple that contains the name of the state and the number of counties.

In [16]:
def max_county():
    # Your answer here
    
    df_self=census_df
    no_ofC = (df_self.groupby('STNAME')['COUNTY'].nunique()) #group and count the no. of countries
    maxno=no_ofC.max() #take out the max one
    x=no_ofC[no_ofC==maxno].index[0] #dataframe collect
    return x,maxno

max_county()

('Texas', 255)

3. (2) Which **state** has had the largest absolute change in population within the period 2010-2015? (Use columns: `POPESTIMATE2010`- `POPESTIMATE2015`). <br>
For example, if the population in the 5 year period is 1300, 1400, 1100, 1500, 1200, then the largest absolute change is |1500-1100|=400 <br>
Return a tuple that contains the name of the state and the largest absolute change.<br>

In [17]:
def change_state():
    # Your answer here
    df_self=census_df.copy()
    df_self=df_self[df_self['SUMLEV'] == 40]
    df_self['Max']=df_self.T.loc['POPESTIMATE2010':'POPESTIMATE2015'].max() #creat column Max and Min
    df_self['Min']=df_self.T.loc['POPESTIMATE2010':'POPESTIMATE2015'].min() #save the population no. of each state 
    df_self['Abs_C']=df_self['Max']-df_self['Min']    #absolute change
    Maxno=df_self['Abs_C'].max()
    city=df_self['STNAME'][df_self['Abs_C']==df_self['Abs_C'].max()].values[0]
    return city,int(Maxno)
    
change_state()

('Texas', 2224751)

3. (3) By looking at the top three most populous **counties** in each **state only**, what are the top three most populous **states** that has the largest population in the top three most populous counties? Use `CENSUS2010POP`. <br>
Return a pandas Series. Index: three state names. Value: the total population in the top three most populous counties (in the order of highest to lowest population).

In [18]:
def top_states():
    
    # Your answer here
    df1=census_df.copy()
    df1=df1[df1['SUMLEV'] == 50]
    df1=df1[['STNAME','CTYNAME', 'CENSUS2010POP']]
    Frame=df1.groupby('STNAME')
    List=[]
    for (key, group) in Frame:
        List.append(group)
    for i in range(len(List)):    #keep the  top three most populous counties in each state
        List[i]=List[i].sort_values('CENSUS2010POP',ascending=False).head(3) 
    df1_1=pd.concat(List).sort_values('CENSUS2010POP',ascending=False)#combine the dataframe of different state 
    c_name=list(df1_1['CTYNAME'].head(3).values)                      #and sort by decending population
    c_no=list(df1_1['CENSUS2010POP'].head(3).values)
    return pd.Series(c_no,index=c_name)

# for grading
re = top_states()
print(re.index.values) #state names
print(re.values) # total population of the top three counties

['Los Angeles County' 'Cook County' 'Harris County']
[9818605 5194675 4092459]

3. (4) Convert the `CENSUS2010POP` from numbers to strings with thousands separators (using commas). i.e. 100000 to 100,000. <br>
Return the pandas series of strings.

In [19]:
def separator():
    # Your answer here
    df_self=census_df.copy()
    df_self['CENSUS2010POP'] = df_self.apply(lambda p: "{:,}".format(p['CENSUS2010POP']), axis=1)
    return df_self['CENSUS2010POP'] 
    
separator()

0       4,779,736
1          54,571
2         182,265
3          27,457
4          22,915
          ...
3188       43,806
3189       21,294
3190       21,118
3191        8,533
3192        7,208
Name: CENSUS2010POP, Length: 3193, dtype: object